<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/main.css"
    </head>
    <body>

        <h1 class="heading">Halaman Home</h1>
        <br />

        <ul>
            <% artikels.forEach(function(artikel) { %>
                <li>
                    
                    <a href="/artikel/<%= artikel.id_artikel %>"><%= artikel.title %></a> - 
                    <%= artikel.content %></li>
            <% }); %>
        </ul>

    </body>
</html>
