
<form action="/artikel-baru" method="POST">

<label for="title">Masukan Judul</label> <br />
<input type="text" name="title" />
<br />

<label for="content">Masukan Isi Content</label> <br />
<textarea name="content">
</textarea>

<br />

<input type="submit" name="submit" value="Tambah Post" />

</form>